{% extends '::base.html.twig' %}

{% block body -%}

    <h1>Post list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Body</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('post_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.body }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('post_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('post_edit', { 'id': entity.id }) }}">edit</a>
                        <a href="#/post/{{ entity.id }}/edit">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('post_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>



    {% verbatim %}

<script type="text/x-handlebars" id="application">
    <section>
        <header>
            <h1>posts</h1>
        </header>
        <section>
            <div>{{outlet}}</div>
        </section>
        <footer id="footer">Merci \o/</footer>
    </section>
</script>

<!-- users template -->
<script type="text/x-handlebars" id="posts">
    {{#link-to 'posts.create'}}ADD{{/link-to}}
    <br />
    <table style="float:left;">
        {{#each itemController="post"}}
        <tr>
            <td>{{title}}</td>
            <td>{{#link-to 'post' this}}view (link){{/link-to}}</td>
            <td><button {{action "remove"}} class="destroy">Delete</button></td>
        </tr>
        {{/each}}
    </table>
    <div style="float:left;">{{outlet}}</div>
    <hr style="clear:both"/>
</script>


<script type="text/x-handlebars" data-template-name="posts/create">
GO CREATE :)
    <div>
      <label>Title</label>
      {{input value=title}}

      <label>Body</label>
      {{input value=body}}

      <button {{action "save"}}>Créer</button>
      {{#link-to 'posts'}}Back to list{{/link-to}}
    </div>
</script>

<script type="text/x-handlebars" data-template-name="post">
    {{ title }} <br />
    {{ body }}
    <hr />
    {{#link-to 'post.edit' }}Edit (link){{/link-to}}
    <hr />
    {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="post/edit">
    Il est l'heure d'éditer mon ami :)
    <div>
      <label>Title</label>
      {{input value=title}}

      <label>Body</label>
      {{textarea value=body}}

      <button {{action "save" }}>Edit</button>
      <button {{action "close" }}>Close</button>
      {{#link-to 'posts'}}Back to list{{/link-to}}

    </div>
</script>

    {% endverbatim %}

    {% endblock %}
